
.example-container{
    text-align: center
}

.form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px
}

.form-field{
    display: block
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}
  
.or-word {
background-color: #fff;
padding: 0 10px;
color: #888;
}