<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" formControlName="password">
    <mat-icon matSuffix matTooltip="Password must be at least 8 characters long and contain at least one special character (@,#,$,%^,&,())">info</mat-icon>
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
    <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 8 characters long</mat-error>
    <mat-error *ngIf="loginForm.hasError('invalidPassword')">Password must contain at least one special character</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Sign In</button>
  

  <button mat-button (click)="navigateToRegister()">Not an user? Register</button>
  <button mat-button (click)="forgotPassword()">Forgot Password?</button>

  <div class="divider">
    <span class="or-word">or</span>
  </div>

  <button mat-raised-button type="button" (click)="signInWithGoogle()">
    <img src="assets/icon-google-48.png" alt="Google Logo" style="height: 24px; width: auto; margin-right: 8px;">
      Sign in with Google
  </button>
</form>