<div class="login-text">
  Login
</div>
<div class="loginFormStyle">
  <form [formGroup]="loginForm" (ngSubmit)="login()" #formDirective="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="loginForm.controls.email.invalid">Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
    </mat-form-field>
    
    <div class ="row" style="display:flex; justify-content: center; margin-bottom:10px;">
      <button mat-raised-button color="primary" type="submit">Sign In</button>
    </div>

    <div class="row">
      <button mat-button (click)="navigateToRegister()">Not a user? Register</button>
      <button mat-button (click)="forgotPassword()">Forgot Password?</button>
    </div>
    <span class="or-word">or</span>
    <div class="row" style="display:flex; justify-content: center; margin-top: 10px;">
      <button mat-raised-button type="button" (click)="signInWithGoogle()">
        <img src="assets/icon-google-48.png" alt="Google Logo" style="height: 24px; width: auto; margin-right: 8px;">
         <span style="height: 24px; width: auto; margin-right: 8px;"> Sign in with Google</span>
      </button>
    </div>
  </form>
</div>