.main {
    padding: 20px;
    padding: 20px;
    position: relative;
    width: auto;
    height: 525px
}

.header{
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-right: 10px;
}

.logout-btn{
    position: absolute;
    right: 5%;
    font-size: 20px;
}