.main {
    padding: 20px;
    /* height: 100%;
    width: 100%; */
    /* assets/backdrop.jpg */
    /* background: url('../assets/backdrop.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    color: white;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    top: 30%;
}