<form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Sign up</button>
      
    <div class="divider">
      <span class="or-word">or</span>
    </div>
  
    <button mat-raised-button type="button" (click)="navigateToLogin()">Login</button>
  </form>