<div class="login-text">
  Reset Password
</div>
<div class="loginFormStyle">
    <form [formGroup]="form" (ngSubmit)="forgotPassword()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
      </mat-form-field>
      <div class ="row" style="display:flex; justify-content: center; margin-bottom:10px;">
        <button mat-raised-button color="primary" type="submit">Send Link</button>
      </div>
    </form>
</div>
